[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
jupyter = "*"
mlflow = "*"
optuna = "*"
prefect = "*"
xgboost = "*"
prefect-email = "*"

[dev-packages]

[requires]
python_version = "3.9"
